In [1]:
#type string
print('halo')

halo

In [2]:
print('Hello World')

Hello World

In [3]:
print('nama saya')
print('Baharuddin Ghalib')

nama saya
Baharuddin Ghalib

In [5]:
print('nama saya')
print('Baharuddin Ghalib')
print('umur saya')
print(21)

nama saya
Baharuddin Ghalib
umur saya
21

In [6]:
print('nama saya')
print('Baharuddin Ghalib')
print('umur saya')
print(21)
print('tinggi saya')
print(165)
print('berat badan saya')
print(87.8)

nama saya
Baharuddin Ghalib
umur saya
21
tinggi saya
165
berat badan saya
87.8

In [7]:
#Type Boolean dibagi menjadi tiga
#True, False
#Logika AND, OR, NOT
#Perbandingan & ekspresi logika <; >; >=; <=

In [40]:
# Tipe string
# Menampilkan karakter pertama, 
#diawali dari 0
print(' ')
s = 'Takumi'
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])

T
a
k
u
m
i

In [41]:
# Menampilkan karakter dari kanan ke kiri, 
# dimulai dari s[-1]
print(' ')
print(s[-1])
print(s[-2])
print(s[-3])
print(s[-4])
print(s[-5])
print(s[-6])
print(' ')
# Jika disusun dari s[-6] 
print(' ')
print(s[-6])
print(s[-5])
print(s[-4])
print(s[-3])
print(s[-2])
print(s[-1])

i
m
u
k
a
T


T
a
k
u
m
i

In [42]:
# Menampilkan dua karakter di awal
print(' ')
print(s[:2])

Ta

In [43]:
# Menampilkan tiga karakter terakhir
print(s[3:])

umi

In [44]:
# Menunjukkan jumlah karakter 
len(s)

6

In [45]:
# Penggabungan
print(s +' '+ 'OKE')

Takumi OKE

In [46]:
# Pengulangan
print(s*2)

TakumiTakumi

In [48]:
# Menemukan offset substring 
s.find('aku')

1

In [49]:
# Mengganti kemunculan suatu substring 
# dengan substring lainnya
s.replace('aku', 'AKU')

'TAKUmi'

In [54]:
# Mengkonversi huruf besar dan kecil
s.upper()

'TAKUMI'

In [55]:
# Membandingkan string
s1 = 'Halo' #variabel string 1
s2 = 'Takumi' #variabel string 2
print(s1 > s2)
print(s1 >= s2)
print(s1 < s2)
print(s1 <= s2)
print(s1 != s2)

False
False
True
True
True

In [56]:
#Type integer
a = 1
b = -17
c = 100

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

In [57]:
#Type float
x = 3.14
y = -0.175
z = 2.05

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [62]:
#Type complex
s1 = 3 + 2j
s2 = -2.5j

print(type(s1))
print(type(s2))
print(s1.real) #menampilkan bilangan real
print(s1.imag) #menampilkan bilangan imajer

<class 'complex'>
<class 'complex'>
3.0
2.0

In [63]:
#Konversi Tipe Data Numerik

#Konversi ke integer
x = int(3.14)
print(x)

#Konversi ke float
b = float(-17)
print(b)
#Konversi ke complex
y = complex(-0.175)
print(y)

3
-17.0
(-0.175+0j)

In [64]:
#Operasi Aritmatika
a = 15
b = 6
print(a + b) #penjumlahan
print(a - b) #pengurangan
print(a * b) #perkalian
print(a / b) #[pembagian]
print(a // b) #untuk pembagian bilangan bulat
print(a % b) #modulus
print(a ** b) #eskponen

21
9
90
2.5
2
3
11390625

In [65]:
#Modul math
import math
a = 4
b = 2
c = 0
print(math.sqrt(a)) #akar variabel a = 4
print(math.pi*(b)) #perkalian variabel b = 2 dengan pi = 3.14
print(math.cos(c)) #cosinus variabel c = 0

2.0
6.283185307179586
1.0

In [66]:
#Modul cmath
import cmath
z = 1 + 4j
print(cmath.sqrt(z)) #akar variabel z
print(cmath. sin(z)) #sinus variabel z

(1.600485180440241+1.2496210676876531j)
(22.979085577886128+14.744805188558727j)

In [67]:
# Type Boolean (bool)
t = True
f = False

print(type(t))
print(type(f))

<class 'bool'>
<class 'bool'>

In [68]:
#Operasi type Boolean
t = True
f = False
print(t and f)
print(t and t)
print(f and f)
print(t and f)
print(t and t)
print(f and f)

False
True
False
False
True
False